table {
  width: 100%;
}

.mdl-layout__header-row {
    -webkit-justify-content: center;
}


.mdl-button-group{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  
  button {
    background-color: #eee;
    display: inline-block;
    float: left;
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
  }
  
  button:hover {
  color: green;
  }
   
}
